* {
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box;
  font-family: "Lexend Deca", sans-serif;
  background-color: #EFF6E0;
}

canvas {
  border: 5px solid #124559;
}

.title {
  font-size: 2em;
  height: 75px;
  color: #01161E;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: #AEC3B0;
}
