* {
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box;
  font-family: "Lexend Deca", sans-serif;
  background-color: #ebebeb;
}

canvas {
  border: 5px solid #ff6700;
}

.header {
  background-color: #c0c0c0;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
}

.title {
  color: #3a6ea5;
  background-color: #c0c0c0;
}

.add {
  background-color: #c0c0c0;
  justify-self: end;
}
