* {
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box;
  font-family: "Lexend Deca", sans-serif;
  background-color: #EBEBEB;
}

canvas {
  border: 5px solid #FF6700;
}

.title {
  font-size: 2em;
  height: 75px;
  color: #3A6EA5;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: #C0C0C0;
}
